Functional requirements:
Login for Owner, Manager, Customers and Maintenance Staff

Owner needs to be able to see money coming in, going out, and ability to hire or fire managers

Manager can check in/out guests, manage hotel staff, ability to see available rooms for new guests
Managers can see a list of all guests 

Guests can rent rooms for the desired amount of time, see where rooms are located, how much room cost per night and per person, and extend stay 
Guests can cancel reservation for rooms, change room reservation and room occupancy
Guests can make hotel related payments online

Maintainers and Cleaners have access to a schedule that they can see 

Non functional requirements:
Maintainers and Cleaners will not be able to edit their schedule to increase or decrease workload

Guests do not have manager functionalities - checking in/out guests, list of all guests, ability to hire or fire staff

Managers do not have owner functionalities - ability to hire or fire managers, access to money statements
